packages/
.idea/
.vs/
SuperMemoAssistant.Services.HTML/bin/
SuperMemoAssistant.Services.HTML/obj/



SuperMemoAssistant.Interop/bin/
SuperMemoAssistant.Interop/obj/



superMemoAssistant.Plugins.Import/src/SuperMemoAssistant.Plugins.Import/bin/
SuperMemoAssistant.Plugins.Import/src/SuperMemoAssistant.Plugins.Import/obj/



superMemoAssistant.Plugins.Import/libs/SuperMemoAssistant.Plugins.Import.BrowserNativeHost/bin/
superMemoAssistant.Plugins.Import/libs/SuperMemoAssistant.Plugins.Import.BrowserNativeHost/obj/



superMemoAssistant.Plugins.Import/libs/SuperMemoAssistant.Plugins.Import.Interop/bin/
superMemoAssistant.Plugins.Import/libs/SuperMemoAssistant.Plugins.Import.Interop/obj/



SuperMemoAssistant.Services.Sentry/bin/
SuperMemoAssistant.Services.Sentry/obj/


SuperMemoAssistant.Services.UI/bin/
SuperMemoAssistant.Services.UI/obj/

